extends ../layout

block content
  div(id="profile-box")
    div.profile-line
        label Username: 
        span.profile-info #{user.username}
    div.profile-line 
        label Name: 
        span.profile-info #{user.name}
    div.profile-line
        label Email: 
        span.profile-info #{user.email}
    div.profile-line 
        label Avatar: 
        span.profile-info
           - var avatar = user.avatarUrl
           if(!avatar)
           -   avatar = '/img/avatars/default_user.png'
           img(src='#{avatar}')

    div.profile-line
       span 
          label Groups:
          span.profile-info
            ul
            each group in user.groups
              li #{group}           
