extends ../layout

block content
	h2 #{color} cards
	div(id='cards-listing', class='#{color}')
		each card, i in cards
			div(class='card',data-id='#{card._id}') #{i}. #{card.text}


	div
		input(type='hidden', value="#{color}" id='cardType')


block append scripts
	script(src="/js/addcards.js")  