extends layout

block content
	div
		each board, i in boards
			div.leaderboards-board
				div.leaderboards-board-title #{board.name}
				each player in board.players
					div.leaderboards-board-player 
						span.photo
							img(src=("#{player.avatarUrl}" != "undefined" ? "#{player.avatarUrl}" : "/img/avatars/default_user.png"))
						span.username #{player.username} 
						span.points #{player.points}